.main{
    color: white;
    background-color: #2D2D2D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7%;
    &__tr {
        padding: 0 0;
        border-bottom: 1px solid white;
    }
    &__table {
        margin-top: 40px;
    }
    &__thead tr {
        font-size: 1.2rem; 
        border-bottom: 2px solid white;
    }
    &__thead th:nth-child(1){
        text-align: left;
    }
    &__thead th:nth-child(3){
        text-align: right;
    }
    &__item {
        width: 190px;
    }
    &__square{
        text-align: center;
    }
    &__images{
        display: flex;
        justify-content: end;
    }
}