.Menutrash{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D2D2D;
    > h2{
        margin: 70px 0;
        color: white;
    }
}
.Card{
    border-radius: 10px;
    width: 45vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    > h2 {
        justify-content: flex-start;
        margin-bottom: 20px;
    }
    > p{
        margin-bottom: 30px;
    }
    &__button {
        display: flex;
        margin:0 8px;
        padding: 10px;
        border-radius: 10px;
        font-weight: 600;
        font-size: 1.1rem;
        cursor: pointer;
        width: 400px;
    }
    &__button--blue {
        background-color: #0C70F2;
        color: white;
    }
    &__button--white {
        background-color: white;
        color: #2D2D2D;
    }
}